{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block user_menu %}
{% include "core/_team_top_bar.html" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
<div class="container-fluid step-header">
    <div class="row d-flex align-items-center justify-content-center py-4">
        <div class="col-5 step-header-title">
            <div class="row">
                <div class="col-2">
                    {% block step_number %}
                    {% endblock %}
                </div>
                <div class="col-10">
                    {% block step_title %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-6">
                    INPUTS
                    {% block step_input %}
                    {% endblock %}
                </div>
                <div class="col-6">
                    OUTPUTS
                    {% block step_output %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">See
                Example</button>
        </div>
    </div>
</div>
<div class="container-fluid step-duration py-2 mb-5">
    <i class="fas fa-clock"></i> {% block step_duration %}{% endblock %}
</div>

<!-- EXAMPLE MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Step Example</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{% block step_example_img %}{% endblock %}" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{% block step_content %}
{% endblock %}

<div class="row my-5">
    <div class="col-6">
        {% block prev_step_button %}
        <a href="{{prev_step_link}}" class="btn btn-primary">← Previous step</a>
        {% endblock %}
    </div>
    <div class="col-6 text-right">
        {% block next_step_button %}
        <a href="{{next_step_link}}" class="btn btn-primary">Next step →</a>
        {% endblock %}
    </div>
</div>
<style>
    body {
        color: black;
        font-size: 0.9rem;
    }

    .form-control {
        color: black;
        font-size: 0.8rem;
    }

    .step-header {
        background-color: black;
        color: white;
    }

    .step-header-title {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        border-right: 1px solid white;
    }

    .step-duration {
        color: red;
    }

    .modal-dialog {
        max-width: 70%;
    }

    .postit-note {
        box-sizing: border-box;
        display: block;
        height: 100px;
        background-color: #fff475;
        font-family: 'Shadows Into Light', cursive;
        padding: 10px;
        text-align: center;
        border: none;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        resize: none;
        line-height: 1.4;
        outline: none;
    }

    .postit-note::placeholder {
        color: #8a7f30;
    }

    .ai-output-container {
        background-color: #ebcfee;
        padding: 10px;
        display: none;
    }

    #accordionSidebar {
        display: none;
    }
</style>
{% endblock %}