{% extends 'core/_team_step.html' %}

{% block title %}
Step 1
{% endblock %}


{% block step_number %}
01
{% endblock %}
{% block step_title %}
INTRODUCTION
{% endblock %}
{% block step_input %}
<ul>
    <li>Individual expectations</li>
    <li>Individual motivations</li>
    <li>Individual problem interests</li>
</ul>
{% endblock %}
{% block step_output %}
<ul>
    <li>Team vision</li>
    <li>Team values</li>
    <li>Problem/opportunity focus area</li>
</ul>
{% endblock %}

{% block step_example_img %}
https://picsum.photos/1000/500
{% endblock %}

{% block step_content %}
<div class="container-fluid py-2">
    <div class="row justify-content-center">
        <iframe src="https://player.vimeo.com/video/472345888" width="480" height="270" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-3">
            <h3>Start</h3>
            Introductions
            Have each team member pick a colour sticky note.
            Introduce yourselves; share your expectations, motivations, and problem interests.
        </div>
        <div class="col-9">
            <h3>Diverge</h3>
            Ideate on possible problems/opportunities
            Individually, write your relevant problems/opportunities ideas with high-level challenge in mind on a sticky
            (corresponds to your colour).

            As a group, share the content of your sticky, why you chose it and what it means to you. When listening, ask
            for clarification, but no feedback/judgement.
        </div>

        <p>Members: {{ member_range }}</p>
        <p>Problems: {{ problem_range }}</p>
        <!-- Loop over the below -->
        {% for i in member_range %}
            <div class="row my-3">
                <div class="col-3">
                    <div class="row">
                        <div class="col-7">
                            <input id="mem{{ i }}_name" class="form-control" type="text" placeholder="Name">
                    
                            interested in
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input id="mem{{ i }}_interest" class="form-control" type="text" placeholder="Interest">
                        </div>
                    </div>
                </div>
                
                <div class="col-9">
                    <div class="row">
                        {% for j in problem_range %}
                            <div class="col-2">
                                <textarea id="mem{{ i }}_prob{{ j }}" class="form-control"></textarea>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h3>Merge</h3> <h3>Converge</h3>
            <p>
                Selecting your Problem/Opportunity Focus Areas
                TRANSFER from the previous section to the focus area boxes (e.g BOX 1 will be for problems related to emerging technologies)
                ADD similar ideas to Box 1, MERGE with each other where possible.
                REPEAT for next theme boxes...
                CONVERGE on focus area (initial problem statement) as a team.
            </p>
        </div>
    </div>

    <div class="col-2">
        <button id="suggest_focus_area_button" type="button" class="btn btn-primary">AI, Help Us Get Started!</button>
    </div>

    <div class="col-2">AI</div>

    <div style="border: 1px solid black" class="row mt-5">
        {% for i in focusarea_range %}
            <div style="border: 1px solid black" class="col-2">
                <p>FOCUS AREA {{ i }}</p>
                {% for j in focusarea_problem_range %}
                    <textarea id="fa{{ i }}_prob{{ j }}" class="form-control"></textarea>
                {% endfor %}
            </div>
        {% endfor %}
    </div>   
    
        <div class="col-12" style="border: 3px solid black">
        
        Our high level problem/opportunity area we want to focus on is:

        <input id="high_level_problem" class="form-control" type="text">
    </div>
</div>









<script>

$(document).ready(function () {

    $('#suggest_focus_area_button').on('click', function () {
        console.log("clicked");
        // TODO: Make the team id dynamic
        const teamId = 1;

        const headers = {
            'Content-Type': 'application/json', 
            'X-CSRFToken': getCookie('csrftoken'),
        };

        // Post to your Django API
        $.ajax({
            url: '/api/suggest_focus_areas/',
            method: 'POST',
            headers: headers,
            contentType: 'application/json',
            data: JSON.stringify({
                team_id: teamId
            }),
            success: function (response) {
                console.log('Suggested focus areas successfully:', response);
            },
            error: function (xhr, status, error) {
                console.error('Error suggesting focus areas:', xhr.responseText || error);
            }
        });
    });

    $('input, textarea').on('blur', function () {
        console.log("unfocused");

        const fieldName = $(this).attr('id');
        const fieldValue = $(this).val();
        // TODO: Make the team id dynamic
        const teamId = 1;
        // const teamId = $(this).data('team-id'); // Assumes a data attribute for team

        console.log('Unfocused field:', fieldName);
        console.log('Value:', fieldValue);

        // Optional: Make sure required info exists
        if (!fieldName || !teamId) {
            console.warn("Missing 'name' or 'data-team-id' on field.");
            return;
        }

        const headers = {
            'Content-Type': 'application/json', 
            'X-CSRFToken': getCookie('csrftoken'),
        };

        // Post to your Django API
        $.ajax({
            url: '/api/save_field/',
            method: 'POST',
            headers: headers,
            contentType: 'application/json',
            data: JSON.stringify({
                table: 'MembersAndFocus', // or pass dynamically if needed
                field: fieldName,
                value: fieldValue,
                team_id: teamId
            }),
            success: function (response) {
                console.log('Saved successfully:', response);
            },
            error: function (xhr, status, error) {
                console.error('Error saving field:', xhr.responseText || error);
            }
        });
    });
});
</script>

{% endblock %}

