{% extends 'core/_team_step.html' %}

{% block title %}
Step 1
{% endblock %}


{% block step_number %}
01
{% endblock %}
{% block step_title %}
INTRODUCTION
{% endblock %}
{% block step_input %}
<ul>
    <li>a</li>
    <li>b</li>
    <li>c</li>
</ul>
{% endblock %}
{% block step_output %}
<ul>
    <li>x</li>
    <li>y</li>
    <li>z</li>
</ul>
{% endblock %}

{% block step_example_img %}
https://picsum.photos/1000/500
{% endblock %}

{% block step_content %}
<div class="container-fluid py-2">
    <div class="row justify-content-center">
        <iframe src="https://player.vimeo.com/video/472345888" width="480" height="270" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
somethin
{% endblock %}