{% extends 'core/_team_step.html' %}
{% load custom_filters %}

{% block title %}
Step 1
{% endblock %}


{% block step_number %}
01
{% endblock %}

{% block step_title %}
INTRODUCTION
{% endblock %}

{% block step_input %}
<ul>
    <li>Individual expectations</li>
    <li>Individual motivations</li>
    <li>Individual problem interests</li>
</ul>
{% endblock %}

{% block step_output %}
<ul>
    <li>Team vision</li>
    <li>Team values</li>
    <li>Problem/opportunity focus area</li>
</ul>
{% endblock %}

{% block step_example_img %}
https://picsum.photos/1000/500
{% endblock %}

{% block step_duration %}
~45 minutes
{% endblock %}

{% block step_content %}
<div class="container-fluid py-2">
    <div class="row justify-content-center">
        <iframe src="https://player.vimeo.com/video/472345888" width="480" height="270" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-3">
            <h3>Start</h3>
            <strong>Introductions</strong><br>
            <br>
            Have each team member pick a colour sticky note.<br>
            Introduce yourselves; share your expectations, motivations, and problem interests.
        </div>
        <div class="col-9">
            <h3>Diverge</h3>
            <strong>Ideate on possible problems/opportunities</strong><br>
            <br>
            <strong>Individually</strong>, write your relevant problems/opportunities ideas with high-level challenge in
            mind on a sticky
            (corresponds to your colour).<br>
            <br>
            <strong>As a group</strong>, share the content of your sticky, why you chose it and what it means to you.
            When listening, ask
            for clarification, but no feedback/judgement.<br>
        </div>
    </div>

    {% for i in member_range %}
    {% with i_str=i|stringformat:"s" %}
    <div class="row my-3">
        <div class="col-3">
            <div class="row">
                <div class="col-7">
                    {% with field_name="mem"|add:i_str|add:"_name" %}
                    <input data-db-field="mem{{ i }}_name" class="form-control mb-3" type="text" placeholder="Member name..."
                        style="background-color: {{color_list|index:i}};"
                        value="{{ members_and_focus|get_attr:field_name }}">
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% with field_name="mem"|add:i_str|add:"_interest" %}
                    <input data-db-field="mem{{ i }}_interest" class="form-control" type="text" placeholder="Interested in..."
                        style="background-color: {{color_list|index:i}};"
                        value="{{ members_and_focus|get_attr:field_name }}">
                    {% endwith %}
                </div>
            </div>
        </div>


        <div class="col-9">
            <div class="row">
                {% for j in problem_range %}
                {% with j_str=j|stringformat:"s" %}
                {% with field_name="mem"|add:i_str|add:"_prob"|add:j_str %}
                <div class="col-2 mr-3">
                    <textarea data-db-field="mem{{ i }}_prob{{ j }}" class="postit-note"
                        style="background-color: {{color_list|index:i}};">{{ members_and_focus|get_attr:field_name }}</textarea>
                </div>
                {% endwith %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}

    <div class="row mt-5">
        <div class="col-12">
            <h3>Merge & Converge</h3>
            <p>
                <strong>Selecting your Problem/Opportunity Focus Areas</strong>
            </p>
            <ul>
                <li>
                    <strong>TRANSFER</strong> from the previous section to the focus area boxes (e.g BOX 1 will be for
                    problems related to emerging technologies)
                </li>
                <li><strong>ADD</strong> similar ideas to Box 1, <strong>MERGE</strong> with each other where possible.
                </li>
                <li><strong>REPEAT</strong> for next theme boxes...</li>
                <li><strong>CONVERGE</strong> on focus area (initial problem statement) as a team.</li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <button id="suggest_focus_area_button" type="button" class="btn btn-ai">AI, Help Us Get
                Started!</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-4">
            <div class="ai-output-container" id="focus_area_suggestion">

            </div>
        </div>
    </div>

    <div class="row mt-5" style="border: 1px solid black">
        {% for i in focusarea_range %}
        {% with i_str=i|stringformat:"s" %}
        <div style="border: 1px solid black !important" class="col-2 d-flex flex-column align-items-center border">

            <p class="mt-2">FOCUS AREA {{ i }}</p>

            {% for j in focusarea_problem_range %}
            {% with j_str=j|stringformat:"s" %}
            {% with field_name="fa"|add:i_str|add:"_prob"|add:j_str %}
            <textarea data-db-field="fa{{ i }}_prob{{ j }}"
                class="postit-note mb-2">{{ members_and_focus|get_attr:field_name }}</textarea>
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </div>
        {% endwith %}
        {% endfor %}
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-6 p-3 step-result-col">
            Our high level problem/opportunity area we want to focus on is:
            <input data-db-field="high_level_problem" class="form-control" type="text" value="{{members_and_focus.high_level_problem}}">
        </div>
    </div>
</div>


<!-- disable previous step because we're on step 1 -->
{% block prev_step_button %}
{% endblock %}







<script>
    const teamId = {{ team_id }};

    $(document).ready(function () {
        setupAutosave('MembersAndFocus')

        $('#suggest_focus_area_button').on('click', function () {
            console.log("clicked");

            const $btn = $(this);

            // Add spinner and disable button
            $btn.prop('disabled', true);
            $btn.append(' <i class="fas fa-spinner fa-spin" id="focus_area_spinner"></i>');

            const headers = {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            };

            // Call suggest_focus_areas API
            $.ajax({
                url: '/api/suggest_focus_areas/',
                method: 'POST',
                headers: headers,
                contentType: 'application/json',
                data: JSON.stringify({
                    team_id: teamId
                }),
                success: function (response) {
                    console.log('Suggested focus areas successfully:', response);
                    $("#focus_area_suggestion")
                        .html(response.message.replace(/\n/g, "<br>"))
                        .show();
                },
                error: function (xhr, status, error) {
                    console.error('Error suggesting focus areas:', xhr.responseText || error);
                },
                complete: function () {
                    // Remove spinner and enable button
                    $('#focus_area_spinner').remove();
                    $btn.prop('disabled', false);
                }
            });
        });

    });
</script>

{% endblock %}