{% extends 'core/_team_step.html' %}
{% load custom_filters %}

{% block title %}
Step 2
{% endblock %}


{% block step_number %}
02
{% endblock %}

{% block step_title %}
OPPORTUNITY DISCOVERY
{% endblock %}

{% block step_input %}
<ul>
    <li>Team Problem/Opportunity</li>
    <li>Data collection/Evidence gathering</li>
</ul>
{% endblock %}

{% block step_output %}
<ul>
    <li>Initial problem/opportunity focus</li>
</ul>
{% endblock %}

{% block step_example_img %}
https://picsum.photos/1000/500
{% endblock %}

{% block step_duration %}
~1+ hour
{% endblock %}

{% block step_content %}
<div class="container-fluid py-2">
    <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <iframe src="https://player.vimeo.com/video/474710985" width="480" height="270" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <iframe src="https://player.vimeo.com/video/480022182" width="480" height="270" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h3>Diverge</h3>
            <p>
                <strong>Identify the problem</strong>
            </p>

            <ul>
                <li>Identify how the <strong>PROBLEM MANIFESTS</strong> within your focus area.</li>
                <li>Obtain feedback by asking potential users and identify a <strong>CAUSE</strong> of this problem.
                </li>
                <li>Identify real <strong>EVIDENCE</strong> of the problem and their causes.</li>
                <li><strong>REPEAT</strong> for second problem.... and third....</li>
            </ul>
        </div>
    </div>

    <div class="row font-weight-bold text-center border">
        <div class="col-2 py-2 border-right">MANIFESTATION OF PROBLEM</div>
        <div class="col-6 py-2 border-right">CAUSES + EVIDENCE</div>
        <div class="col-4 py-2">ASSUMPTIONS</div>
    </div>

    {% for i in diverge_table_range %}
    {% with i_str=i|stringformat:"s" %}
    <div class="row border prob-cause-row">

        <div class="col-2 py-3 font-weight-bold border-right">
            {% with field_name="prob"|add:i_str %}
            <textarea id="{{field_name}}" data-db-field="{{field_name}}" class="postit-note"
                style="background-color: {{color_list|index:i}};">{{ opportunity_discovery|get_attr:field_name }}</textarea>
            {% endwith %}
        </div>

        <div class="col-6 py-3 border-right">
            {% with field_name="causes"|add:i_str %}
            <textarea data-db-field="{{field_name}}" class="w-100 p-2"
                style="height: 100px; border: none; background-color: {{color_list|index:i}};">{{ opportunity_discovery|get_attr:field_name }}</textarea>
            {% endwith %}
            <button class="btn btn-ai research-cause-button">Research Causes</button>
            <div class="ai-output-container"></div>
        </div>
        <div class="col-4 py-3">
            {% with field_name="assumptions"|add:i_str %}
            <textarea data-db-field="{{field_name}}" class="w-100 p-2"
                style="height: 100px; border: none; background-color: {{color_list|index:i}};">{{ opportunity_discovery|get_attr:field_name }}</textarea>
            {% endwith %}
        </div>

    </div>
    {% endwith %}
    {% endfor %}

    <div class="row mt-5">
        <div class="col-12">
            <h3>Analyze</h3>

            <p><strong>Selecting Problem For You To Work On</strong></p>

            <p>Use this step to choose appropriate problem to work on. Not too big..or too small. Not too hard ..or too
                easy</p>

            <strong>01. Ease of development:</strong> Rank problems based on how easy it will be for your team to
            develop a
            solution:
            <ul>
                <li>Not too complex or too challenging</li>
                <li>Not too technical or too big in scope</li>
            </ul>

            <strong>02. Problem Size:</strong> (Impact): Rank problems based on overall impact developing a solution
            would have:
            <ul>
                <li>Bigger than helping one person...smaller than helping a country (think of a community)</li>
                <li>Bigger than addressing a specific local issue...smaller than changing the world</li>
            </ul>

            <p>
                Goal is to choose problem to be solved based on ease of development and impact (as well as time &
                resources
                available to address the challenge). It is hoped that if you solve the problem at the right level, in
                the future you
                can expand to solve it for other users/applications.
            </p>
        </div>
    </div>




    <div class="row mt-5">
        <div class="col-12">
            <h3>Converge</h3>
            <p>
                Selecting your Problem/Opportunity Focus
            </p>
            <ul>
                <li>Copy and paste the <strong>PROBLEM 1</strong> into the matrix based on how easy it is to develop
                    (x-axis) and how much impact would there be if that problem was solved (y-axis).</li>
                <li>Repeat step one for other <strong>PROBLEMS</strong>.</li>
                <li><strong>REPEAT</strong> this cycle for the second problem you identified.</li>
                <li>Focus on the <strong>PROBLEM</strong> set in the red box (Just right problem size and easy to
                    implement)</li>
            </ul>

        </div>
    </div>

    <div class="row font-weight-bold text-center border w-50">
        <div class="col-4 py-2 border-right">MANIFESTATION OF PROBLEM</div>
        <div class="col-4 py-2 border-right">EASE OF DEVELOPMENT<br>(Can be lead by you)</div>
        <div class="col-4 py-2">IMPACT<br></div>
    </div>

    {% for i in diverge_table_range %}
    {% with i_str=i|stringformat:"s" %}
    <div class="row border w-50 problem-row" style="min-height: 20px;">

        <div class="col-4 py-3 border-right">
            {% with field_name="prob"|add:i_str %}
            <textarea data-db-field="{{field_name}}" data-copy-from-id="{{field_name}}" class="postit-note" disabled
                style="background-color: {{color_list|index:i}};">{{ opportunity_discovery|get_attr:field_name }}</textarea>
            {% endwith %}
        </div>

        <div class="col-4 py-3 border-right">
            <div class="form-group">
                {% with field_name="difficulty"|add:i_str %}
                {% with current_value=opportunity_discovery|get_attr:field_name %}
                <select class="form-control difficulty-dd" data-db-field="{{ field_name }}" style="background-color: {{color_list|index:i}};">
                    <option value="" {% if not current_value %}selected{% endif %}></option>
                    <option {% if current_value == "VERY EASY" %}selected{% endif %}>VERY EASY</option>
                    <option {% if current_value == "EASY" %}selected{% endif %}>EASY</option>
                    <option {% if current_value == "NORMAL" %}selected{% endif %}>NORMAL</option>
                    <option {% if current_value == "HARD" %}selected{% endif %}>HARD</option>
                    <option {% if current_value == "VERY HARD" %}selected{% endif %}>VERY HARD</option>
                </select>
                {% endwith %}
                {% endwith %}
            </div>
        </div>

        <div class="col-4 py-3">
            <div class="form-group">
                {% with field_name="impact"|add:i_str %}
                {% with current_value=opportunity_discovery|get_attr:field_name %}
                <select class="form-control impact-dd" data-db-field="{{ field_name }}" style="background-color: {{color_list|index:i}};">
                    <option value="" {% if not current_value %}selected{% endif %}></option>
                    <option {% if current_value == "TOO SMALL" %}selected{% endif %}>TOO SMALL</option>
                    <option {% if current_value == "SMALL" %}selected{% endif %}>SMALL</option>
                    <option {% if current_value == "JUST RIGHT" %}selected{% endif %}>JUST RIGHT</option>
                    <option {% if current_value == "LARGE" %}selected{% endif %}>LARGE</option>
                    <option {% if current_value == "VERY LARGE" %}selected{% endif %}>VERY LARGE</option>
                </select>
                {% endwith %}
                {% endwith %}
            </div>
        </div>

    </div>
    {% endwith %}
    {% endfor %}

    <div class="row mt-5 justify-content-center">
        <div class="col-6 p-3 step-result-col">
            THE PROBLEM we are going to investigate is:
            <input data-db-field="problem_to_investigate" class="form-control" type="text" value="{{opportunity_discovery.problem_to_investigate}}">
        </div>
    </div>
</div>









<script>
    const teamId = {{ team_id }};

    $(document).ready(function () {
        setupAutosave('OpportunityDiscovery')


        $('.research-cause-button').on('click', function () {
            const aiButton = $(event.target);
            const aiOutputCont = aiButton.siblings('.ai-output-container');
            const problem = aiButton.closest(".prob-cause-row").find("textarea").val()
            const causes = aiButton.siblings('textarea').val();

            console.log(problem, causes);

            const headers = {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            };


            // Call suggest_causes API
            $.ajax({
                url: '/api/suggest_causes/',
                method: 'POST',
                headers: headers,
                contentType: 'application/json',
                data: JSON.stringify({
                    team_id: teamId, 
                    problem: problem,
                    causes: causes
                }),
                success: function (response) {
                    console.log('Suggested causes successfully:', response);
                    aiOutputCont.html(response.prompt).show();
                },
                error: function (xhr, status, error) {
                    console.error('Error suggesting focus areas:', xhr.responseText || error);
                }
            });
        });

        // instantly copy contents of prob1-6 post-it notes on top of page
        // to read-only post-it notes at bottom of page
        $("[data-copy-from-id]").each(function(index, element) {
            let copyFromId = $(element).data("copy-from-id");
            console.log("setup listener for: ", copyFromId);

            $("#"+copyFromId).on("input", function(){
                console.log("copying ", copyFromId);
                $(element).val($(this).val());
            });
        });

        // based on difficulties and impacts selected, highlight rows
        // that are sweet spots
        highlightSweetSpot();
        $(".difficulty-dd").on("input", highlightSweetSpot)
        $(".impact-dd").on("input", highlightSweetSpot)
        
        function highlightSweetSpot() {
            console.log("calculating sweet spot");

            $(".problem-row").each(function(index, element){
                const difficulty = $(element).find(".difficulty-dd").val();
                const impact  = $(element).find(".impact-dd").val();

                console.log(difficulty, impact);
                if (["VERY EASY", "EASY", "NORMAL"].includes(difficulty) && ["SMALL", "JUST RIGHT", "LARGE"].includes(impact)) {
                    console.log(difficulty, impact, "--> sweet spot");
                    $(element).css("background-color", "#cde740");
                } else {
                    $(element).css("background-color", "white");
                }
            });
        }
    });
</script>

{% endblock %}