{% extends 'core/_team_step.html' %}
{% load custom_filters %}

{% block title %}
Step 2
{% endblock %}


{% block step_number %}
02
{% endblock %}

{% block step_title %}
OPPORTUNITY DISCOVERY
{% endblock %}

{% block step_input %}
<ul>
    <li>Team Problem/Opportunity</li>
    <li>Data collection/Evidence gathering</li>
</ul>
{% endblock %}

{% block step_output %}
<ul>
    <li>Initial problem/opportunity focus</li>
</ul>
{% endblock %}

{% block step_example_img %}
https://picsum.photos/1000/500
{% endblock %}

{% block step_duration %}
~1+ hour
{% endblock %}

{% block step_content %}
<div class="container-fluid py-2">
    <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <iframe src="https://player.vimeo.com/video/474710985" width="480" height="270" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <iframe src="https://player.vimeo.com/video/480022182" width="480" height="270" frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <h3>Diverge</h3>
            <p>
                <strong>Identify the problem</strong>
            </p>

            <ul>
                <li>Identify how the <strong>PROBLEM MANIFESTS</strong> within your focus area.</li>
                <li>Obtain feedback by asking potential users and identify a <strong>CAUSE</strong> of this problem.
                </li>
                <li>Identify real <strong>EVIDENCE</strong> of the problem and their causes.</li>
                <li><strong>REPEAT</strong> for second problem.... and third....</li>
            </ul>
        </div>
    </div>
    <!-- Loop over the below -->

    {% for i in member_range %}
    {% with i_str=i|stringformat:"s" %}
    <div class="row my-3">
        <div class="col-3">
            <div class="row">
                <div class="col-7">
                    {% with field_name="mem"|add:i_str|add:"_name" %}
                    <input id="mem{{ i }}_name" class="form-control mb-3" type="text" placeholder="Member name..."
                        style="background-color: {{color_list|index:i}};"
                        value="{{ members_and_focus|get_attr:field_name }}">
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% with field_name="mem"|add:i_str|add:"_interest" %}
                    <input id="mem{{ i }}_interest" class="form-control" type="text" placeholder="Interested in..."
                        style="background-color: {{color_list|index:i}};"
                        value="{{ members_and_focus|get_attr:field_name }}">
                    {% endwith %}
                </div>
            </div>
        </div>


        <div class="col-9">
            <div class="row">
                {% for j in problem_range %}
                {% with j_str=j|stringformat:"s" %}
                {% with field_name="mem"|add:i_str|add:"_prob"|add:j_str %}
                <div class="col-2 mr-3">
                    <textarea id="mem{{ i }}_prob{{ j }}" class="postit-note"
                        style="background-color: {{color_list|index:i}};">{{ members_and_focus|get_attr:field_name }}</textarea>
                </div>
                {% endwith %}
                {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}

    <div class="row mt-5">
        <div class="col-12">
            <h3>Analyze</h3>

            <p><strong>Selecting Problem For You To Work On</strong></p>

            <p>Use this step to choose appropriate problem to work on. Not too big..or too small. Not too hard ..or too
                easy</p>

            <strong>01. Ease of development:</strong> Rank problems based on how easy it will be for your team to
            develop a
            solution:
            <ul>
                <li>Not too complex or too challenging</li>
                <li>Not too technical or too big in scope</li>
            </ul>

            <strong>02. Problem Size:</strong> (Impact): Rank problems based on overall impact developing a solution
            would have:
            <ul>
                <li>Bigger than helping one person...smaller than helping a country (think of a community)</li>
                <li>Bigger than addressing a specific local issue...smaller than changing the world</li>
            </ul>

            <p>
                Goal is to choose problem to be solved based on ease of development and impact (as well as time &
                resources
                available to address the challenge). It is hoped that if you solve the problem at the right level, in
                the future you
                can expand to solve it for other users/applications.
            </p>
        </div>
    </div>




    <div class="row mt-5">
        <div class="col-12">
            <h3>Converge</h3>
            <p>
                Selecting your Problem/Opportunity Focus
            </p>
            <ul>
                <li>Copy and paste the <strong>PROBLEM 1</strong> into the matrix based on how easy it is to develop
                    (x-axis) and how much impact would there be if that problem was solved (y-axis).</li>
                <li>Repeat step one for other <strong>PROBLEMS</strong>.</li>
                <li><strong>REPEAT</strong> this cycle for the second problem you identified.</li>
                <li>Focus on the <strong>PROBLEM</strong> set in the red box (Just right problem size and easy to
                    implement)</li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <button id="suggest_focus_area_button" type="button" class="btn btn-primary">AI, Help Us Get
                Started!</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-4">
            <div class="ai-output-container" id="focus_area_suggestion">

            </div>
        </div>
    </div>

    <div class="row mt-5" style="border: 1px solid black">
        {% for i in focusarea_range %}
        {% with i_str=i|stringformat:"s" %}
        <div style="border: 1px solid black !important" class="col-2 d-flex flex-column align-items-center border">

            <p class="mt-2">FOCUS AREA {{ i }}</p>

            {% for j in focusarea_problem_range %}
            {% with j_str=j|stringformat:"s" %}
            {% with field_name="fa"|add:i_str|add:"_prob"|add:j_str %}
            <textarea id="fa{{ i }}_prob{{ j }}"
                class="postit-note mb-2">{{ members_and_focus|get_attr:field_name }}</textarea>
            {% endwith %}
            {% endwith %}
            {% endfor %}
        </div>
        {% endwith %}
        {% endfor %}
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-6 p-3"
            style="border: 3px solid black; background-color: #fdf545; color: black; text-align: center; border-radius: 15px;">

            THE PROBLEM we are going to investigate is:

            <input id="high_level_problem" class="form-control" type="text"
                value="{{members_and_focus.high_level_problem}}"
                style="color:black; font-weight: bolder; font-size: larger; border-color: #f4c90e; text-align: center;">
        </div>
    </div>
</div>









<script>
    const teamId = {{ team_id }};

    $(document).ready(function () {

        $('#suggest_focus_area_button').on('click', function () {
            console.log("clicked");

            const headers = {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            };

            // Post to your Django API
            $.ajax({
                url: '/api/suggest_focus_areas/',
                method: 'POST',
                headers: headers,
                contentType: 'application/json',
                data: JSON.stringify({
                    team_id: teamId
                }),
                success: function (response) {
                    console.log('Suggested focus areas successfully:', response);
                    $("#focus_area_suggestion").html(response.prompt).show();
                },
                error: function (xhr, status, error) {
                    console.error('Error suggesting focus areas:', xhr.responseText || error);
                }
            });
        });

        $('input, textarea').on('blur', function () {
            console.log("unfocused");

            const fieldName = $(this).attr('id');
            const fieldValue = $(this).val();

            console.log('Unfocused field:', fieldName);
            console.log('Value:', fieldValue);

            // Optional: Make sure required info exists
            if (!fieldName || !teamId) {
                console.warn("Missing 'name' or 'data-team-id' on field.");
                return;
            }

            const headers = {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            };

            // Post to your Django API
            $.ajax({
                url: '/api/save_field/',
                method: 'POST',
                headers: headers,
                contentType: 'application/json',
                data: JSON.stringify({
                    table: 'MembersAndFocus', // or pass dynamically if needed
                    field: fieldName,
                    value: fieldValue,
                    team_id: teamId
                }),
                success: function (response) {
                    console.log('Saved successfully:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error saving field:', xhr.responseText || error);
                }
            });
        });
    });
</script>

{% endblock %}