{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Chatbot
{% endblock %}

{% block heading %}
    Chatbot
{% endblock %}

{% block sidebar %}
    {% include "partial.advisee.sidebar.html" %}
{% endblock %}

{% block user_messages %}
    {% include "partial.user_messages.html" %}
{% endblock %}

{% block user_menu %}
    {% include "partial.advisor.user_menu.html" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ask your question</h6>
    </div>
    <div class="card-body">
        <textarea id="promptText" name="promptText" class="form-control col-12"></textarea>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-end">
        <a id="promptButton" href="#" class="btn btn-primary btn-icon-split research-btn">
            <span class="icon text-white-50">
                <i class="fas fa-paper-plane"></i>
            </span>
            <span class="text">Send</span>
        </a>
    </div>
</div>
    
<div id="chatHistory">

</div>

{% endblock %}

<!-- TODO: Create file js/chatbot.js    -->
{% block body_end %}
    <!-- Frontend script -->
    <script src="{% static 'js/chatbot.js' %}"></script>
{%endblock%}
