{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} 
    Advisee Dashboard 
{% endblock %}

{% block heading %} 
    Advisee Dashboard 
{% endblock %}

{% block sidebar %}
    {% include "partial.advisee.sidebar.html" %}
{% endblock %}

{% block user_messages %}
    {% include "partial.user_messages.html" %}
{% endblock %}

{% block user_menu %}
    {% include "partial.advisor.user_menu.html" %}
{% endblock %}

{% block content %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Industry</h6>
            </div>
            <div class="card-body">
                <textarea id="industry" name="industry" class="form-control col-12">{{advisee.industry}}</textarea>
            </div>
        </div>
        
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h2 class="h4 mb-0 text-gray-800">Industry Topics</h2>
        </div>
        

        <button type="submit" class="mb-4">Save All Work</button>

        {% for topic_field_name, topic_name in advisee.get_topics_dict.items %}
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapse-{{topic_field_name}}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapse-{{topic_field_name}}">
                <h6 class="m-0 font-weight-bold text-primary">{{ topic_name }}</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapse-{{topic_field_name}}">
                <div class="card-body">
                    <textarea id="market-sizing" name="{{topic_field_name}}" class="rich-editor">
                        {{ advisee|get_attr:topic_field_name }}
                    </textarea>
                    
                    <div class="container mt-4">
                        <div class="row justify-content-end">
                            <a href="#" class="btn btn-primary btn-icon-split research-btn" data-topic="{{ topic_name }}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-flag"></i>
                                </span>
                                <span class="text">Research Topic with AI</span>
                            </a>
                        </div>
                    </div>

                    <div class="mt-4">
                        <p id="{{ topic_name }}-research-results"></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
{% endblock %}

{% block body_end %}
    <!-- Frontend script -->
    <script src="{% static 'js/frontend-advisee.js' %}"></script>
{%endblock%}