{% extends 'base.html' %}
{% load static %}

{% block title %} 
    Messages with {{ advisee.user.first_name }} {{ advisee.user.last_name }}
{% endblock %}

{% block heading %} 
    Messages with {{ advisee.user.first_name }} {{ advisee.user.last_name }}
{% endblock %}

{% block sidebar %}
    {% include "partial.advisor.sidebar.html" %}
{% endblock %}

{% block user_messages %}
    {% include "partial.user_messages.html" %}
{% endblock %}

{% block user_menu %}
    {% include "partial.advisor.user_menu.html" %}
{% endblock %}

{% block content %}
    <div class="row mb-5">
        <div class="col-6">
            <a href="{% url 'advisor:message_inbox' %}">
                <i class="fas fa-fw fa-envelope"></i>
                <span>back to inbox</span>
            </a>
        </div>
        <div class="col-6 text-right">
            <a href="{% url 'advisor:advisee' advisee.id %}">
                <i class="fas fa-fw fa-envelope"></i>
                <span>Advisee Application</span>
            </a>
        </div>
    </div>

    {% for mail in all_mails %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <div class="row">
                    <div class="col-6">
                        <i style="color:orange;" class="fas fa-fw {{ mail.unread_class }}"></i>
                        {{ mail.sender }}
                    </div>
                    <div class="col-6 text-right">
                        {{ mail.sent_at }}
                    </div>
                </div>
            </h6>
        </div>
        <div class="card-body">
            {{ mail.body|safe }}
        </div>
    </div>
    {% endfor %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <div class="row">
                    <div class="col-12">
                        Reply...
                    </div>
                </div>
            </h6>
        </div>
        <div class="card-body">
            <form action="{% url 'advisor:message_send' advisee.id %}" method="POST">
                {% csrf_token %}

                <textarea id="reply-textarea" name="reply-textarea" class="col-12" style="height:200px"></textarea>

                <div class="container mt-4">
                    <div class="row justify-content-end">
                        <a id="send-mail" href="#" class="btn btn-primary btn-icon-split research-btn">
                            <span class="icon text-white-50">
                                <i class="fas fa-paper-plane"></i>
                            </span>
                            <span class="text">Send</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block body_end %}
<script>
    $(document).ready(function() {
        // Attach a click event handler to the element with ID 'send-mail'
        $('#send-mail').on('click', function(event) {
            // Prevent the default action of the click event (if necessary)
            event.preventDefault();
            
            // Find the closest form element and submit it
            $(this).closest('form').submit();
        });
    });

    $(document).ready(function() {
        // Scroll to the bottom of the page
        $(window).scrollTop($(document).height());
    });
</script>
{% endblock %}