{% extends 'base.html' %}
{% load static %}

{% block title %} 
    My Inbox
{% endblock %}

{% block heading %} 
    My Inbox 
{% endblock %}

{% block sidebar %}
    {% include "partial.advisor.sidebar.html" %}
{% endblock %}

{% block user_messages %}
    {% include "partial.user_messages.html" %}
{% endblock %}


{% block user_menu %}
    {% include "partial.advisor.user_menu.html" %}
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">My Inbox</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                            role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="col-1 text-center">
                                        Unread
                                    </th>
                                    <th class="col-2">
                                        With
                                    </th>
                                    <th class="col-7">
                                        Snippet
                                    </th>
                                    <th class="col-2">
                                        Time
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for mail in latest_mails %}
                                <tr>
                                    <td class="text-center align-middle">
                                        <i style="color:orange;" class="fas fa-fw {{ mail.unread_class }}"></i>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'advisor:message_advisee' mail.advisee.id %}">
                                            {{ mail.correspondent.first_name }} {{ mail.correspondent.last_name }}
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        {{ mail.snippet }}
                                    </td>
                                    <td class="align-middle">
                                        {{ mail.datetime }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}