{% extends 'base.html' %}
{% load static %}
{% load custom_filters_2 %}

{% block title %}
{{ advisee.user.first_name }} {{ advisee.user.last_name }}
{% endblock %}

{% block heading %}
{{ advisee.user.first_name }} {{ advisee.user.last_name }}
{% endblock %}

{% block sidebar %}
{% include "partial.advisor.sidebar.html" %}
{% endblock %}

{% block user_messages %}
{% include "partial.user_messages.html" %}
{% endblock %}

{% block user_menu %}
{% include "partial.advisor.user_menu.html" %}
{% endblock %}

{% block content %}

    {% for topic in topics_data %}
<div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapse-topic-{{topic.id}}" class="d-block card-header py-3" data-toggle="collapse" role="button"
        aria-expanded="true" aria-controls="collapse-topic-{{ topic.id }}">
        <h6 class="m-0 font-weight-bold text-primary">{{ topic.name }}</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapse-topic-{{ topic.id }}">
        <div class="card-body">
            <textarea id="topic-{{ topic.id }}" name="topic-{{ topic.id }}" class="rich-editor">
                {{ topic.text }}
            </textarea>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}

{% block body_end %}
<script>
    $(document).ready(function () {
        // summernote's functionality is broken, so we can't just do $('.rich-editor').summernote("disable")
        // instead we iterate over each textarea and call summernote("disable") on them
        tas = $('.rich-editor')
        tas.each(function () {
            id = $(this).attr('id')
            $("#" + id).summernote("disable")
        });
    });
</script>
{% endblock %}