{% extends 'base.html' %}
{% load static %}

{% block title %} 
    My Dashboard 
{% endblock %}

{% block heading %} 
    My Dashboard 
{% endblock %}

{% block sidebar %}
    {% include "partial.advisor.sidebar.html" %}
{% endblock %}

{% block user_messages %}
    {% include "partial.user_messages.html" %}
{% endblock %}

{% block user_menu %}
    {% include "partial.advisor.user_menu.html" %}
{% endblock %}

{% block content %}
    {% for message in messages %}
    <div class="alert alert-success mt-4">{{ message }}</div>
    {% endfor %}

     <!-- Content Row -->
     <div class="row">

        <!-- Number of Advisees card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Number of Advisees </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{num_advisees}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Number of Articles card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Number of Articles </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{num_articles}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Number of Articles by Advisor card -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Number of Articles by You </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{num_articles_by_advisor}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - URL Upload -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">URL Upload</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h3>URL Upload</h3>
                    <form id="urlUploadForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <label for="topics_dd_url">What topic is the article for?</label>
                        <select id="topics_dd_url" name="topics_dd_url">
                            {% for topic in topics%}
                            <option value="{{topic.id}}">{{topic.name}}</option>
                            {% endfor %}
                        </select>

                        <br>

                        <label for="url_article">Upload via link to article</label>
                        
                        <br>

                        <input style="width: 100%;" type="url" id="url_article" name="url_article">
                        
                        <div id="urlUploadErrorMsg" class="alert alert-danger d-none" role="alert">The URL was not correctly written, or the URL does not contain data. Please correct the URL or try another URL.</div>

                        <div id="urlUploadSuccessMsg" class="alert alert-success d-none" role="alert"> Thank you for submitting an article via URL. The AI is being trained on it. <br>
                            You will receive an email at <strong>{{ user.email }}</strong> when training is complete. </div>

                        <br><br>
                        
                        <button type="button" class="btn btn-primary" id="URLuploadBtn">Train AI</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <!-- Content Row -->

     <div class="row">
        <div class="col-11">
            <div class="card shadow mb-4">
                <!-- Card Header - Raw Text Upload -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Raw Text Upload</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h3>Raw Text Upload</h3>
                    <p>Upload new article data to the OutCubator's OpenAI account, so it can be used for
                        training the model on these *specific* articles.</p>

                    <form id="rawTextUploadForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <label for="topics_dd_raw">What topic is the article for?</label>
                        <select id="topics_dd_raw" name="topics_dd_raw">
                            {% for topic in topics%}
                            <option value="{{topic.id}}">{{topic.name}}</option>
                            {% endfor %}
                        </select>

                        <br>

                        <label for="rawText">Enter text, or paste text from another source, to the OutCubator's OpenAI account, so it can be used for
                            training the model on these *specific* articles.</label>
                        <textarea class="form-control" id="rawText" name="rawText" style="height: 200px"></textarea>

                        <br>

                        <div id="rawTextUploadSuccessMsg" class="alert alert-success d-none" role="alert">
                            Thank you for submitting a raw text article. The AI is being trained on it. <br>
                            You will receive an email at <strong>{{ user.email }}</strong> when training is complete. 
                        </div>

                        <div id="rawTextUploadErrorMsg" class="alert alert-danger d-none" role="alert">The text box cannot be left empty.</div>

                        <br>
                        
                        <button type="button" class="btn btn-primary" id="rawTextUploadBtn">Train AI</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
    
    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - File Upload -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">File Upload</h6>
                    <!-- <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div> -->
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h3>File Upload</h3>
                    <p>Upload new article data to the OutCubator's OpenAI account, so it can be used for
                        training the model on these *specific* articles.</p>

                    <form id="fileUploadForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <label for="topic">What topic is the article for?</label>
                        <select id="topics_dd" name="topics_dd">
                            {% for topic in topics%}
                            <option value="{{topic.id}}">{{topic.name}}</option>
                            {% endfor %}
                        </select>

                        <br>

                        <label for="file">Choose a file to upload (.txt, .pdf):</label>
                        <input type="file" class="form-control" id="file" name="file" accept=".txt, .pdf">

                        <br>

                        <div id="fileUploadSuccessMsg" class="alert alert-success d-none" role="alert">
                            Thank you for submitting an article. The AI is being trained on it. <br>
                            You will receive an email at <strong>{{ user.email }}</strong> when training is complete. 
                        </div>

                        <br>
                        
                        <button type="button" class="btn btn-primary" id="uploadBtn">Train AI</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Illustration - "Upload article" image -->
        <div class="col-xl-3 col-lg-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">File Preview</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" 
                        src="{% static 'img/undraw_sharing_articles_re_jnkp.svg'%}" alt="...">


                    </div>
                    <div class="text-left">
                        <label for="fileContents">Contents of the File Uploaded</label>
                        <div id="fileContents"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Number of Uploads - Card -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Number of Uploads</h6>
                </div>
                <div class="card-body">
                    <div class="card-body">
                        {% for topic_stats in perc_articles_per_topic%}
                        <h4 class="small font-weight-bold">{{topic_stats.topic_name}}
                            <span id="bar{{topic_stats.topic_name_no_space}}" class="float-right">{{topic_stats.perc_complete}}%</span>
                        </h4>
                        <div class="progress mb-4">
                            <div id="progress{{topic_stats.topic_name_no_space}}" class="progress-bar bg-warning"
                                role="progressbar" style="width: {{topic_stats.perc_complete}}%;" 
                                aria-valuenow="{{topic_stats.perc_complete}}" aria-valuemin="0"
                                aria-valuemax="100"></div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <!-- Regenerate Topic Instructions -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Regenerate Topic Instructions</h6>
                </div>
                <div class="card-body">
                    <a href="{% url 'advisor:regenerate_advisee_topic_instructions' %}" class="btn btn-primary btn-icon-split mb-4">
                        <span class="icon text-white-50">
                            <i class="fas fa-sync"></i>
                        </span>
                        <span class="text">Regenerate Topic Instructions</span>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}

{% block body_end %}
    <!-- Frontend script -->
    <script src="{% static 'js/advisor-dashboard.js' %}"></script>
{%endblock%}