{% extends 'base.html' %}

{% block content %}
<h3>Advisor Login</h3>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-5">
            <form method="POST" action="" class="user">
                {% csrf_token %}
                <div class="form-group">
                    <input 
                        type="text" 
                        name="username" 
                        autofocus="" 
                        autocapitalize="none" 
                        autocomplete="username" 
                        maxlength="150" 
                        required="" 
                        id="id_username"
                        class="form-control form-control-user"
                        placeholder="Username"
                    >
                </div>
                <div class="form-group">
                    <input 
                        type="password" 
                        name="password" 
                        autocomplete="current-password" 
                        required="" 
                        id="id_password"
                        class="form-control form-control-user"
                        placeholder="Password"
                    >
                </div>

                <input type="submit" value="Login" class="btn btn-primary btn-user btn-block">
                
            {% if form_errors %}
                <div class="alert alert-danger mt-4">{{ form_errors }}</div>
            {% endif %}

            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}

                <p class="text-center mt-4">
                    Don't have an account? <br/>
                    <a href="{% url 'advisor:register' %}">Register as an advisor</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
